
.blueColorGradiant{
    background: rgb(35, 57, 71);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgb(35, 57, 71), rgb(24, 39, 49));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgb(35, 57, 71), rgb(24, 39, 49)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.blueColor {
    background: rgb(18, 27, 32);
}
.blueColorText {
    color:  rgb(18, 27, 32);
}
.lightColorText {
    color: white;
    
}
.lightColorBG {
    background: #fafafa;
}


.blueColorClick:active {
    background:  #ffffffd2;
    color: #000000dc;
}